/* Hide all optgroup elements initially */
optgroup {
  display: none;
}

/* Show the optgroup based on the selected ticket type */
input[type="radio"]#free:checked
  ~ #step-2
  select
  optgroup[label="Exhibition 1"],
input[type="radio"]#exhibition1:checked
  ~ #step-2
  select
  optgroup[label="Exhibition 1"],
input[type="radio"]#exhibition2:checked
  ~ #step-2
  select
  optgroup[label="Exhibition 2"],
input[type="radio"]#exhibition3:checked
  ~ #step-2
  select
  optgroup[label="Exhibition 3"] {
  display: block;
}

/* Hide the entire step-2 when "Free Admission" is selected */
input[type="radio"]#free:checked ~ #step-2 {
  display: none;
}
/* Style for the checkout button */
.checkout-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  text-decoration: none; /* Remove underline for links */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* Hover effect for the button */
.checkout-button:hover {
  background-color: #0056b3; /* Change color on hover */
}
