@media (max-width: 700px) {
  main {
    margin-top: 70px;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
    text-align: center;
    background-color: var(--accent-col);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
  }

  .mobile-nav .logo img {
    max-height: 50px;
    width: 80%;
    position: relative;
    left: 5%;
  }
  .mobile-nav .search-input {
    width: 70%;
    height: 25px;
    margin: 0 auto;
    display: block;
    margin-top: 7%;
  }

  .cover {
    margin-top: 70px;
    max-height: 150px;
    justify-content: center;
  }

  .grid-container {
    grid-template-areas:
      "img1"
      "link1"
      "img2"
      "link2" "img3"
      "link3"
      "img4"
      "link4";
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, auto);
  }
  /*mainevent */
  .mainevent {
    flex-direction: column;
  }

  /*boxes and information*/
  .box-paragraph {
    flex-direction: column;
  }
  .paragraph-l,
  .paragraph-r {
    flex: auto;
    width: 100%;
  }
  /*form*/
  .form-container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, auto);
    grid-template-areas:
      "img1" "img2" "img3" "img4"
      "link1" "link2" "link3" "link4"
      "link5";
  }
  .link5 {
    grid-column: 1 / span 2;
  }
  .form-box {
    justify-content: center;
    align-items: center;
  }
}
