body {
  background-color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --main-col: #31738b;
  --text-col: black;
  --accent-col: white;
  --exhibit-bar-col: rgb(12, 12, 69);
  --img-shadow: rgba(0, 0, 0, 0.7);
  --cta-col: rgb(5, 15, 49);
  --cta-img-col: rgba(255, 255, 255, 0.3);
  --cta-shadow: rgba(0, 0, 0, 0.35);
  --banners-col: rgba(255, 255, 255, 0.05);
  --cta-header-col: rgba(184, 107, 35, 0.35);
}

/*Text colours */
h1,
h2 {
  color: var(--accent-col);
}
/*cover museum shaping */
.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.cropped-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

/* Main Exhibition codes and work in progress */
.mainevent {
  display: flex;
  background-color: var(--main-col);
  max-height: 300px;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}

.entermain {
  flex: 1;
  padding: 10px 50px;
}

.event-img {
  flex: 2;
  display: flex;
  align-items: center;
  max-height: 300px;
  width: 100%;
  overflow: hidden;
}
.event-cropped-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 30% 50%;
}

/* Collection links with images */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: repeat(2, 1fr);
  gap: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.img {
  max-height: 300px;
  aspect-ratio: 1/1;
  place-self: center;
  border-radius: 3%;
}

.grid-container a {
  color: var(--accent-col);
  background-color: var(--main-col);
  padding: 10px;
  border: 1px solid var(--accent-col);
  text-decoration: none;
  display: block;
  width: 100%;
}

/*Young stars club */
.club {
  display: flex;
}
.club-img {
  flex: 1;
}
.club-enter {
  flex: 1;
  background-color: var(--main-col);
}

/*Exhibition listed on exhibit page*/
.exhibition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enterexhibition {
  width: 100%;
  flex: 1;
  background-color: var(--exhibit-bar-col);
  text-align: center;
}

.exhibition-img {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 300px;
  overflow: hidden;
  width: 100%;
}

.cropped-image {
  width: 100%;
  height: auto;
}
