body {
  background-color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  color: var(--accent-col);
}

:root {
  --main-col: #31738b;
  --text-col: lack;
  --accent-col: white;
  --img-shadow: rgba(0, 0, 0, 0.7);
  --cta-col: rgba(255, 255, 255, 0.05);
  --cta-img-col: rgba(255, 255, 255, 0.3);
  --cta-shadow: rgba(0, 0, 0, 0.35);
  --banners-col: rgba(255, 255, 255, 0.05);
  --cta-header-col: rgba(184, 107, 35, 0.35);
}

.mainevent {
  display: flex;
  background-color: var(--main-col);
  max-height: 300px;
  align-items: center;
}

.entermain {
  flex: 1;
  padding: 10px 50px;
}

.event-img {
  flex: 2;
}

.event-img img {
  width: 100%;
  max-height: 300px;
  overflow: hidden;
}
