@media (min-width: 701px) and (max-width: 1023px) {
  /*cover museum shaping */

  .cover {
    max-height: 150px;
  }

  /* Main Exhibition */

  /*Border for information text*/

  /*form*/
  .form-box {
    margin-top: 70px;
  }
  .form-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "img1 img2" "img3 img4"
      "link1 link2" "link3 link4"
      "link5 link5";
  }
  .link5 {
    grid-column: 1 / span 2;
  }
  /* Collection links with images */
  .grid-container {
    grid-template-areas:
      "img1 img2"
      "link1 link2"
      "img3 img4"
      "link3 link4";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  /*Young stars club */

  /*Exhibition listed on exhibit page*/
}
